<!DOCTYPE html>
<html lang="en">
  
    {{> head}}
  

  <body>

    {{> index/header}}
    {{> index/intro}}
    
      
    <main id="main">
      {{> index/servicosMiniatura}}
      {{> index/sobre}}
      {{> index/servicos}}
      {{> index/toEmail}}
      {{> index/portfolio}}
      {{> index/clients}}
      {{> index/contato}}      
    </main>  

    {{> footer}}

      <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    {{> importJavascript}}
  </body>
</html>