<footer id="footer">
<div class="footer-top">
  <div class="container">
	  <div class="row">
	    <div class="col-lg-3 col-md-6 footer-info">
        <div id="logo" class="pull-left">            
        </div>
          <h3><a href="#intro"><img src="img/logo/branca.png" alt="" title="" /></a></h3>

       	<p style="text-align: justify;">Fundada em 2003, a Senior Team oferece produtos e serviços que utilizam a tecnologia como um meio de valorização do conhecimento do cliente.</p>
     	</div>

     	<div class="col-lg-3 col-md-6 footer-links">
   	  	<h4>Site</h4>
       	<ul>
       		<li><i class="ion-ios-arrow-right"></i> <a href="#about">Quem somos</a></li>
	       	<li><i class="ion-ios-arrow-right"></i> <a href="#services">Serviços</a></li>
	       	<li><i class="ion-ios-arrow-right"></i> <a href="#portfolio">Cases</a></li>
	       	<li><i class="ion-ios-arrow-right"></i> <a href="#clients">Clientes</a></li>
          	<li><i class="ion-ios-arrow-right"></i> <a href="#contact">Contato</a></li>
	      </ul>
     	</div>

     	<div class="col-lg-3 col-md-6 footer-contact">
       	<h4>Entre em contato</h4>
       	<p style="text-align: justify;">
			   Rua das Caravelas, 40, Quadra 09 <br>
			   Bairro Calhau, São Luís/MA<br> 
			   CEP.: 65071-730<br>
			   <!--<strong>Telefone:</strong> (31) 99363-4109<br>-->
       		<strong>Email:</strong> administrativo@seniorteam.com.br<br>
       	</p> 
     	</div>

     	<div class="col-lg-3 col-md-6 footer-newsletter">
		    <h4>Onde nos encontrar</h4>
        <div class="social-links">
          <a href="https://www.instagram.com/seniorteam" class="instagram"><i class="fa fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/seniorteam/" class="linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
				<br /><h4>Certificado</h4>
				<div id="logo" class="pull-left">						
					<a href="#intro"><img src="img/icon_mpsbr.png" alt="" title="" /></a>
				</div>
	    </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="copyright">
       &copy; Copyright <strong>SeniorTeam</strong>. All Rights Reserved
    </div>
</div>
</footer>