
<meta charset="utf-8">
    <title>Fábrica de software, Outsourcing e soluções personalizadas | SeniorTeam</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/ico/Logo Senior Team_Fav.png" rel="icon">
    <link href="img/ico/Logo Senior Team_Fav.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Teste banner -->
    <link rel="stylesheet" src="css/owl.carousel.min.css">
    <link rel="stylesheet" src="css/owl.theme.min.css">
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <!-- Teste banner -->

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
