<header id="header">
<div class="container-fluid">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/"><img src="img/logo/branca.png" class="logo" alt="" title="" /></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#about">Quem somos</a></li>
          <li><a href="#services">Serviços</a></li>
          <li><a href="#portfolio">Cases</a></li>
          <li><a href="#clients">Clientes</a></li>
          <li><a href="#contact">Contato</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->

    
    </div>
    </header>