<section id="intro">
<div class="intro-container">
  <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">      
      
      
   <div class="carousel-item active">
          <div class="carousel-background">
            
            <img src="img/intro-carousel/gestao-processos3.jpg">
          
          </div>
            <div class="carousel-container">
              <div id="owl-demo" class="owl-carousel owl-theme">
                <div class="item">
                <a href="{{ slide.link }}"> </a>
                </div>             
              </div>    
            </div>
        </div>
        
    </div>
  </div>
</div>


<div class="banner">
  <div class= "title">
    <h2>
      Inovação e desenvolvimento de softwares sob medida.
    </h2>
    <h3>
      Muito mais que tecnologia
    </h3>
  </div> 
</div>

</section>