<section id="services">
<div class="container">
  <header class="section-header wow fadeInUp">
    <h3>Serviços</h3>
    <p style="text-align: justify;">Proporcionar a sua empresa as ferramentas para alcançar as 
      suas metas e obter maior lucratividade, é o nosso propósito. Para isso buscamos estar 
      sempre conectados aos nossos clientes e as necessidades de mercado; o que nos permite 
      oferecer soluções completas, baseadas em nossa vasta experiência, além de serviços 
      customizados que agregarão valor ao negócio.</p>
  </header>

  <div class="row">
    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
      <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
      <h4 class="title"><a href="">Consultoria</a></h4>
      <p class="description" style="text-align: justify;">Consultoria de software focada na entrega de soluções de end-to-end para organizações corporativas de todos os tipos.  </p>
    </div>
    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
      <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
      <h4 class="title"><a href="">Fábrica de software</a></h4>
      <p class="description" style="text-align: justify;">Para suportar o processo de desenvolvimento e obter maiores ganhos em escala, a Fábrica de Software utiliza metodologias baseadas em ferramentas de apoio amplamente difundidas no mercado. </p>
    </div>
    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
      <div class="icon"><i class="ion-ios-paper-outline"></i></div>
      <h4 class="title"><a href="">Outsoursing</a></h4>
      <p class="description" style="text-align: justify;">Com o objetivo de dar a sua empresa a tranquilidade em desenvolvimento, a Senior Team é uma empresa especializada em Outsourcing com alocação de equipe nossa em sua empresa. Profissionais altamente qualifidados.</p>
    </div>    
  </div>
</div>


</section>