<section id="about">
<div class="container">
  <header class="section-header">
    <h3>QUEM SOMOS</h3>
    <p style="text-align: justify;">Uma empresa adaptável, evolutiva e ágil. 
      A <b>Senior Team </b> prioriza a excelência na prestação de serviços e no atendimento ao 
      cliente; Conta com um time de profissionais sêniores, que buscam a assertividade, 
      através do profundo conhecimento de negócio e de processos, 
      no âmbito de empresas públicas e privadas. 
    </p>  
  </header>

  <div class="row about-cols">
    <div class="col-md-4 wow fadeInUp">
      <div class="about-col">
        <div class="img">
          <img src="img/experiencia.jpg" alt="" class="img-fluid">
          <div class="icon"><i class="ion-ios-book-outline"></i></div>
        </div>
        <h2 class="title"><a href="#">Experiência e Inovação</a></h2>
        <p>
           Com experiência de 17 anos no mercado, ofertamos soluções inovadoras, com qualidade e 
           confiabilidade, sempre visando atender aos nossos clientes.
        </p>
      </div>
    </div>

    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
      <div class="about-col">
        <div class="img">
          <img src="img/qualidade.jpg" alt="" class="img-fluid">
          <div class="icon"><i class="ion-ios-list-outline"></i></div>
        </div>
        <h2 class="title"><a href="#">Qualidade do Produto</a></h2>
        <p>
          Garantir a qualidade do seu produto é nosso objetivo, para isso contamos com uma equipe 
          certificada, que aplica testes em diversos níveis, a fim de garantir a total qualidade do seu
          produto.
        </p>
      </div>
    </div>

    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
      <div class="about-col">
        <div class="img">
          <img src="img/agilidade.jpg" alt="" class="img-fluid">
          <div class="icon"><i class="ion-ios-people-outline"></i></div>
        </div>
        <h2 class="title"><a href="#">Agilidade</a></h2>
        <p>
        Sabemos o quanto um produto no tempo certo é importante, por isso trabalhamos com 
        metodologias ágeis para executar rapidamente aquilo que é mais importante para o seu 
        negócio. Além disso, trabalhamos também com metodologia tradicional, quando esse é um 
        requisito do cliente.</p>
      </div>
    </div>
  </div>
</div>


</section>